/*

COLOR PALETTE

light pink: #faccd0
blue: #538899
light blue: #a8fcfe
dark pink: #f80780
dark purple: #522062
white: #f2eef5

*/


* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #522062 -50%, #538899 10%, #faccd0 90%, #f80780 140%), 
              url('assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #f2eef5;
  overflow-x: hidden;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  letter-spacing: 7px;
  display: flex;
  justify-content: center;
  font-size: 30;
}

#current-time {
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 18px;
}

#current-date {
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  letter-spacing: 3px;
  font-size: 18px;
}

/* DIVISIONS */

.main {
  position: absolute;
  align-self: center;
  background: transparent;
  padding: 25px;
  width: 650px;
  height: 510px;
  border-radius: 15px;
  opacity: 0;
  animation: fadeIn 0.6s ease-in forwards;
  z-index: 0;
  border: 2px solid #f2eef5;
}

.main-AC {
  position: absolute;
  margin-top: 50px;
  margin-bottom: 50px;
  background: transparent;
  padding: 25px;
  width: 650px;
  max-height: 100vh;
  height: 700px;
  overflow-y: auto;
  border-radius: 15px;
  opacity: 0;
  animation: fadeIn 0.6s ease-in forwards;
  z-index: 0;
  border: 2px solid #f2eef5;
}

.header1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px;
  background-color: transparent;
  top: 15px;
  left: 5px;
  width: fit-content;
  z-index: 1;
}

.header1-AC {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px;
  background-color: transparent;
  top: 15px;
  left: 5px;
  width: fit-content;
  z-index: 1;
}

.content-container {
  position: relative;
  top: -30px;
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  justify-content: center;
  background-color: #f2eef5;
  border-radius: 15px;
  height: 310px;
  width: auto;
}

.content-container-AC {
  position: static;
  margin-top: 25px;
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  justify-content: center;
  background-color: #f2eef5;
  border-radius: 15px;
  height: 310px;
  width: auto;
}

.img {
  position: absolute;
  z-index: 2;
}

.content-container .img {
  background: url('assets/img1.png');
  background-size: cover;
  background-position: 0px -150px;
  background-repeat: no-repeat;
  border-radius: 5px;
  border: 2px solid #935ba8;
  margin-top: 3px;
  width: 95%;
  height: 40%;
}

.text {
  position: absolute;
  display: block;
  z-index: 2; 
}

.content-container .text {
  color:#f80780;
  margin-top: 200px;
  width: 60%;
  height: 40%;
}

.time-container {
  position: relative;
  top: -50px;
  left: 0px;
  background-color: transparent;
  color: #e9e2ee;
  text-align: right;
}

.date-container {
  position: relative;
  top: -45px;
  left: 0px;
  background-color: transparent;
  color: #e9e2ee;
  text-align: right;
}

.socials {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 35px;
  top: 50px;
  color:#522062;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  background-color: transparent;
  border-top: 2px solid white;
}

.socials a{
  color:#935ba8;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  align-items: center;
}

.socials a:hover {
  color: #f80780;
  transform: scale(1.1);
}

/* BUTTONS */

button {
  position: relative;
  padding: 10px;
  cursor: pointer;
  background-color: #522062;
  color: #faccd0;
  border: transparent;
  border-radius: 10px;
  z-index: 2;
  outline: none;
  transition: all 0.3s ease;
}

button:hover {
  animation: pulse 1s infinite;
}

button::after {
  content: '';
  position: absolute;
  top: -4px; 
  left: -4px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 2px solid #522062;
  background-color: transparent;
  border-radius: 10px;
  transition: width 0.5s ease, height 0.5s ease;
  opacity: 1;
}

button.inButtons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  text-align: right;
  font-size: 14.5px;
  padding: 6px 15px;
  height: 35px;
  top: 325px;
  left: 0px;
  width: 167px;
  pointer-events: auto;
  margin-right: auto;
  margin-left: auto;
}

button.inButtons::before {
  content: '';
  position: absolute;
  bottom: 7px; /* Position the underline beneath the text */
  left: 16px;
  width: 0px; /* Initially no width */
  height: 0.9px; /* Underline thickness */
  background-color: #faccd0; /* Underline color */
  transition: width 0.5s ease-in-out; /* Animate the width */
  opacity: 1;
}

button.inButtons:hover::before {
  width: 80%; /* Expands to full width on hover */
}

/* GFX */ 

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
